<form action="/create-user" method="post">
    <label for="username">Username: </label>
    <input type="text" name="username">

    <label for="password">Password: </label>
    <input type="password" name="password">

    <label for="likesCoding">Likes Coding: </label>
    <input type="checkbox" name="likesCoding">

    <label for="cohort">Cohort</label>
    <input type="text" name="cohort">

    <button type="submit">Submit</button>
</form>